*{
	box-sizing: border-box;
}
body{
	font-family: 'Roboto' ,sans-serif;
	color: #333;
	font-weight: 300;
	min-height: 100%;
}
img{
	max-width: 100%;
	height: auto;
}

h1{
	font-family: 'nunito',sans-serif;
	margin: 0;
}
h2,h3,h4,h5,h6{
    font-family:'nunito' , sans-serif;
}
a{
	text-decoration: none;
}
