/*about section*/
/*https://css-tricks.com/snippets/css/complete-guide-grid/#prop-display*/
 
.about-us{
	&__grid-container { 
		display: grid; 
		grid-template-columns: 50% 50%;  
		margin: 0 20px 0 60px;
	
		column-gap: 40px;
}
	&__grey-text-info{
		margin-left: 10%;
		color: #CCC;
	}
	&__about-info{
      margin-top: 50px;
	}
	&__video-cover{
		
    margin-top: 50px;
    border: solid 1px #ccc;
    height: 240px;
    width: 550px;
/*     box-shadow: hOffset vOffset blur spread color*/
    box-shadow: 4px 4px 2px 2px #ccc;
	}
	&__inner-video-cover{
/*    border: solid 1px #ccc;*/
    height: 200px;
    margin: 20px;
}
}



