.btn{
	font-family: 'rubik' ,sans-serif;
	text-decoration: none;
    list-style: none;
	&__orange-btn {
		margin-top: 10px;
		text-transform: uppercase;
		background:$orange;
		color:#FFF ;
		font-size: 16px;
		font-weight: 400;
		transition: all .6s;
/*		border-radius: 20px;*/
		padding: 12px 30px;
		box-shadow: 0 4px 4px rgba(0,0,0,0.24), 0 0 4px rgba(0,0,0,0.12), 0 6px 18px rgba(0,0,0,0.12);
    	cursor: pointer;
		display: inline-block;
		
		&:hover,
		&:focus,
		&:active{
			background: #FFB52D;
			transform: translate3d(0, -2px,0);
		}
	}
	&__org{
		border-radius: 20px;
		margin-left: 10%;
		
		margin-bottom: 20px;
	}
}

 
   