.heading{
	font-family: 'nunito',sans-serif;
	&__title{
		text-transform: uppercase;
		font-size: 14px;
		
	}
	
	&__content1{
		font-size: 30px;
		font-weight: 600;
		color: #0F0E0E;
		
	}
	&__content2{
		font-family: 'libre baskerville' , serif;
		font-size: 30px;
		font-weight: 600;
		font-style: italic;
	}
	&__orange-head{
		color: $orange;
		font-weight: 600;
	}
	
	
}
