#large-hero{
	min-width: 100%;
	min-height: 100%;
}
.large-hero{
	&__wrapper{
		min-width: 100%;
		min-height: 100%;
	}
	&__.image-cover img{
		height: 100%;
		width: 100%;
		position: relative;
		z-index: -1;
		left: 0;
		top: 0;
	}
	&__overlay{
	    background: rgba(0, 0, 0, 0.7);
		min-width: 100%;
		min-height: 100%;
		position: absolute;
		z-index: 1;
		left: 0;
		top: 0;
	}
	
	&__org-small-underline{
		position: absolute;
		width: 50px;
		height: 2px;
		background: $orange;
		margin-top: 15px;
	}
	&__underline-text{
		font-family: 'nunito', sans-serif;
		color:$white;
		margin-left: 70px;
		font-size: 20px;
		font-weight:600;
		text-transform: uppercase;
	}
	&__img-info{
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 50%;
		margin-left: 1%;
		transform: translate(-50%,-50%);
	}
	&__title-white{
		color: $white;
		font-size: 48px;
		font-weight:bold;
		text-transform: uppercase;
	}
	&__title_orange{
		color: $orange;
	}
	&__info{
		color: $white;
		font-size: 14px;
		font-family: 'Libre Baskerville', serif;
		font-weight:400;
		font-style: italic;
		margin-top: 20px;
	}
	
	
}
