.row{
	
	&__col-md-4{
    float: left;
    width: 33.333333%;
    	}
	&__col-md-5{
		float: left;
		width: 41.81;
	}
    &__col-md-6{
    float: left;
    width: 50%;
/*	margin: 50px;*/
        }
    &__col-md-8{
    float: left;
    width: 66.666666%;
        }
	&__col-md-10{
		float: left;
		width: 83.333;
	}
}